XUI_DEBUG=true
XUI_DB_FOLDER=x-ui
XUI_LOG_FOLDER=x-ui
XUI_BIN_FOLDER=x-ui

# Database Configuration
# XUI_DB_TYPE=sqlite (default) or postgres
# XUI_DB_URI=postgres://<user>:<password>@<host>:<port>/<db_name>?sslmode=disable